Gemfile.lock
*.sw?
.DS_Store
tmp
*.o
*.bundle
*.gem
.nvimlog
.vim.custom
.byebug_history

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle
bin

# generated gems
*.gem
